$top-bg-color: #e6d9c3;
$middle-bg-color: #fff;
$main-font-color: #4d3e26;
$hover-bg-color: #e6d9c3;
$less-hover-bg-color: #f0eadf;
$disabled-font-color: #999;
$border-color: #d1ba91;
$box-shadow-color: rgba(0 , 0 , 0 , .1);

.datepicker-box {
    position: absolute;
    border: 1px solid $border-color;
    box-shadow: 2px 2px 5px $box-shadow-color;
    background: $middle-bg-color;
    width: 260px;
    height: 300px;
    overflow: hidden;
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: $main-font-color;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        font-size: 12px;
    }
}

.datepicker-default {
    a:hover,
    span:hover {
        text-decoration: underline;
    }

    &-top {
        position: relative;
        background: $top-bg-color;
        height: 34px;
        overflow: hidden;
        text-align: center;
        line-height: 34px;
        font-size: 14px;
        user-select: none;
    }

    &-bottom {
        border-top: 1px solid $border-color;
        padding: 5px 10px;
        height: 34px;
        overflow: hidden;
        line-height: 24px;
        font-size: 12px;
    }

    &-middle {
        th {
            border-bottom: 1px solid $border-color;
            padding: 0;
            height: 38px;
            line-height: 37px;
            font-weight: normal;
        }

        td {
            cursor: pointer;
            padding: 0;
            text-align: center;
            line-height: 32px;
        }

        span {
            display: block;

            &:hover {
                background-color: $less-hover-bg-color;
                color: $main-font-color;
            }

            &.today {
                background-color: $hover-bg-color;
                font-weight: bold;
            }

            &.prev,
            &.next {
                color: $disabled-font-color;
            }
        }
    }

    &-select-year,
    &-select-month {
        display: inline-block;
        padding: 0 8px;
        line-height: 34px;
        color: $main-font-color;
        font-size: 14px;
    }

    &-prev-year,
    &-next-year,
    &-prev-month,
    &-next-month {
        display: inline-block;
        position: absolute;
        top: 0;
        cursor: pointer;
        padding: 0 5px;
        line-height: 34px;
        color: $main-font-color;
        font-size: 16px;
    }

    &-prev-year {
        left: 10px;
    }

    &-prev-month {
        left: 40px;
    }

    &-next-year {
        right: 10px;
    }

    &-next-month {
        right: 40px;
    }

    &-select-hour,
    &-select-minute,
    &-select-second {
        display: inline-block;
        border: 1px solid $border-color;
        width: 28px;
        text-align: center;
        line-height: 20px;
        color: $main-font-color;
    }

    &-opt {
        float: right;

        &-clear,
        &-today,
        &-confirm {
            margin-left: 5px;
            text-decoration: none;
            line-height: 22px;
            color: $main-font-color;
            font-size: 14px;
        }
    }
}

.datepicker-year,
.datepicker-month,
.datepicker-hour,
.datepicker-minute,
.datepicker-second {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: $middle-bg-color;
    width: 258px;
    height: 298px;
}

.datepicker-year-top,
.datepicker-month-top,
.datepicker-hour-top,
.datepicker-minute-top,
.datepicker-second-top {
    position: relative;
    background: $top-bg-color;
    height: 34px;
    overflow: hidden;
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    user-select: none;
}

.datepicker-year-middle,
.datepicker-month-middle,
.datepicker-hour-middle,
.datepicker-minute-middle,
.datepicker-second-middle {
    background: $middle-bg-color;
    width: 100%;
    height: 264px;

    table {
        margin: 5px auto;
        width: 254px;
        height: 254px;
        font-size: 12px;
    }

    span {
        display: block;
        margin: 0 auto;
        border-radius: 5px;
        cursor: pointer;
        width: 56px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;

        &.cur {
            background: $hover-bg-color;

            &:hover {
                background: $hover-bg-color;
            }
        }

        &:hover {
            background: $less-hover-bg-color;
        }
    }
}

.datepicker-hour-middle {
    span {
        width: 48px;
        height: 36px;
        line-height: 36px;
    }
}

.datepicker-minute-middle,
.datepicker-second-middle {
    span {
        width: 100%;
        height: 24px;
        line-height: 24px;
    }
}
